.mb-nav-logo {
    font-family: var(--display);
    font-size: 26px;
    letter-spacing: 2px;
    color: var(--white);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 6px;
    position: relative;
    display: none;
}

.logo-bracket {
    color: var(--cyan);
}

.logo-dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--cyan);
    display: inline-block;
    animation: blink 2s step-end infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1
    }

    50% {
        opacity: 0
    }
}

@media (max-width:768px){
    .nav-logo{
        display: none;
    }
    .mb-nav-logo{
        display: block;
    }
}